아무것도 모르거나 이해하지 못했을 때는 ㄹㅇㅋㅋ만 치면 된다.

### Format_fot_list ㅋㅋㄹㅃㅃ

In [2]:
s = '{} {} {}'
f = s.format('대건', '윤기', '찬빈')
print(f)

대건 윤기 찬빈

In [3]:
s = '{}이는 {}와 {}를 좋아한다.'
f = s.format('대건', '윤기', '찬빈')
print(f)

대건이는 윤기와 찬빈를 좋아한다.

In [4]:
s = '{}이는 {}번이고 {}에 진학했다'
f = s.format('대건', 30312, '인천대학교')
print(f)

대건이는 30312번이고 인천대학교에 진학했다

In [5]:
name = '석찬'
num = '30103'
add = '인천시 연수구'
s = '{}이는 {}번이고 {}에 살고있다'
f = s.format(name, num, add)
print(f)

석찬이는 30103번이고 인천시 연수구에 살고있다

In [6]:
name = input('이름입력>>>')
num = input('학번입력>>>')
add = input('주소>>>')
s = '{}이는 {}번이고 {}에 살고있다'
f = s.format(name, num, add)
print(f)

이름입력>>>김중석
학번입력>>>30305
주소>>>검암동
김중석이는 30305번이고 검암동에 살고있다

In [7]:
stu = input('이름 학번 주소>>>').split()

이름 학번 주소>>>김중석 30305 검암동

In [8]:
stu

['김중석', '30305', '검암동']

In [9]:
stu[0], stu[1]

('김중석', '30305')

In [10]:
s = '{}은(는) {}번이고, {}에 살고있다'
f = s.format(stu[0], stu[1], stu[2])
print(f)

김중석은(는) 30305번이고, 검암동에 살고있다

### [문제1] 다음과 같은 양식으로 입력받아 출력하기
● 햄버거 2/4입력하면
● 햄버거 2개 값은 8달라입니다.

In [32]:
food = input('음식이름, 갯수와 가격을 입력').split()
s = '{}의 {}개 값은 {}달라입니다.'
f = s.format(food[0], food[1], int(food[2])*int(food[1]))
print(f)

음식이름, 갯수와 가격을 입력2 4 2
2의 4개 값은 8달라입니다.

In [31]:
info = '%d %s %f'
pr = info%(20, '인천', 0.05)
print(pr)

20 인천 0.050000

In [21]:
info = '%d년도 %s여고 %0.2f퍼센트'
pr = info%(20, '인천', 0.05)
print(pr)

20년도 인천여고 0.05퍼센트

### [문제2] 햄버거 2개는 8달라이다.

In [25]:
food = '%s %d개는 %d달라이다.'
pr = food%('햄버거', 2, 2*4)
print(pr)

햄버거 2개는 8달라이다.

In [34]:
arr = ['죠', '르', '노', '죠', '바', '나']
arr

['죠', '르', '노', '죠', '바', '나']

In [35]:
arr[0]

'죠'

In [36]:
len(arr)

6

In [40]:
for i in range(1,6) :
    print(i)

1
2
3
4
5

In [43]:
for i in range(5,0, -1) :
    print(i)

5
4
3
2
1

In [45]:
for i in arr :
    print(i, end='')

죠르노죠바나

In [50]:
for i in range(len(arr)) :
    print(arr[i], end='')

죠르노죠바나

In [53]:
for i, val in enumerate(arr) :
    print(arr[i], end='')

죠르노죠바나

In [54]:
for i, val in enumerate(arr) :
    print(i+1, '번', val)

1 번 죠
2 번 르
3 번 노
4 번 죠
5 번 바
6 번 나

### [문제1] 30부터 50까지 출력하기

In [56]:
for i in range(30,51) :
    print(i, end=' ')

30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50

### [문제2] 30부터 50까지 중에서 홀수만 출력해보기

In [61]:
for i in range(30, 51) :
    if i%2!=0 :
        print(i)

31
33
35
37
39
41
43
45
47
49

### [문제3] 30부터 50까지 중에서 홀수만 더해서 sum에 넣고 출력

In [63]:
sum = 0
for i in range(30,51) :
    if i%2!=0 :
        sum=sum+i
print(sum)

400

### [문제4] 1부터 10까지 중에서 짝수이면 파이썬 홀수이면 야 너도 할 수 있어 출력

In [68]:
for i in range(1,11) :
    if i%2==0 :
        print(i, '파이썬')
    else :
        print(i, '야 너도 할 수 있어')

1 야 너도 할 수 있어
2 파이썬
3 야 너도 할 수 있어
4 파이썬
5 야 너도 할 수 있어
6 파이썬
7 야 너도 할 수 있어
8 파이썬
9 야 너도 할 수 있어
10 파이썬